# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List popular data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. ggplot2
4. matplotlib
5. Scikit-Learn

<table>
    <tr> 
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter</td>
    </tr>
    <tr>
        <td>Github</td>
    </tr>
    <tr>
        <td>Rstudio</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Md Sahid Parvez